/* Buttons ------------------------------ */

$b-v-padding: 10px;
$b-h-padding: 18px;

@mixin button-fill($bg: $c-gold) {
  background-color: $bg;
  border-top: $b-v-padding solid $bg;
  border-right: $b-h-padding solid $bg;
  border-bottom: $b-v-padding solid $bg;
  border-left: $b-h-padding solid $bg;
}

.button {
  @include button-fill();

  display: inline-block;
  color: #fff !important;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
  .button {
    width: 100% !important;
    text-align: center !important;
  }
}
