/* Type ------------------------------ */

@font-face {
  font-display: swap;
  font-family: "BentonSans";
  font-weight: normal;
  src: url("https://storage.googleapis.com/variance-app-prod-email/BentonSansRegular.otf")
    format("opentype");
}
@font-face {
  font-display: swap;
  font-family: "BentonSans";
  font-weight: bold;
  src: url("https://storage.googleapis.com/variance-app-prod-email/BentonSansBold.otf")
    format("opentype");
}

$f-stack: BentonSans, Arial;
$f-base-size: 14px;

body,
td,
th {
  font-family: $f-stack;
}

h1 {
  @include heading();
}
h2 {
  @include heading($size: $f-base-size);
}
h3 {
  @include heading($size: 14px);
}
td,
th {
  font-size: $f-base-size;
}
p,
ul,
ol,
blockquote {
  margin: 0.4em 0 1.1875em;
  font-size: $f-base-size;
  line-height: 1.625;
}
p.sub {
  font-size: 12px;
}
