---
layout: basic/content.hbs
---
<p>Your Variance instance will be <strong>permanently deleted</strong> in <strong>\{{days_until_deletion}}</strong> days. If you would like to continue using Variance, please visit our plans page.</p>

<!-- Action -->
<table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td align="center">
      {{> button label="View plans" target_url="{{plans_url}}" }}
    </td>
  </tr>
</table>

{{> button_trouble var="{{plans_url}}" }}
